#results-page,
#test-container {
    display: none;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.page-header {
    margin: 0;
    padding-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #771701;
    background-color: #ffe1a9;
    height: 9%;
}

.page-nav {
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffe1a9;
    border-bottom: 2px solid #771701;
}

.page-nav > button {
    color: #511000;
    background-color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid #771701;
}

.page-nav > button.active {
    border-bottom-color: white;
    border-radius: 1rem 1rem 2px 2px;
    position: relative;
    bottom: -2px;
}

.page-nav > button:not(.active):hover {
    background-color: #ede3d1;
}

.page-nav > button:not(.active) {
    border-radius: 1rem 1rem 0 0;
    background-color: #fff4e1;
}

.page-content {
    height: 85%;
    width: 80%;
    margin: 0 10%;
}

.results-page {
    margin: 0 15%;
    padding: 1rem 0;
    width: 70%;
    height: 85%;
    overflow: auto;
}

.instruction-container {
    height: 20%;
    width: 100%;
}

.highlight {
    border-bottom: 4px solid #ffe1a9;
}

.test-container {
    height: 80%;
    width: 100%;
}

.next-button {
    background-color: #771701;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    margin: 1rem 30%;
}

.next-button:hover {
    background-color: #9a1d01;
}

.controls {
    height: 20%;
    width: 100%;
}

.svg {
    height: 80%;
    width: 100%;
}

.results-page > .svg {
    height: fit-content;
    margin: 1rem 0;
}

.input-container {
    align-items: center;
    margin-top: 1rem;
}

svg {
    overflow: visible;
}

p {
    text-align: center;
    margin: 0;
    color: #511000;
    font-size: 1.3rem;
}

h2 {
    text-align: center;
    color: #511000;
}

input[type='range'] {
    margin: 0;
    accent-color: #ffe1a9;
}

label,
input[type='number'] {
    margin: 0.5rem;
    color: #511000;
}

input[type='number'] {
    border: unset;
    border: 2px solid #511000;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.3rem;
    width: 7.5rem;
}
