#test-container {
    display: none;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.page-header {
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 2.5rem;
    color: #771701;
    background-color: #ffe1a9;
    height: 7%;
    border-bottom: 2px solid #771701;
}

.page-content {
    height: 90%;
    width: 80%;
    margin: 0 10%;
}

.instruction-container,
.test-container {
    height: 100%;
    width: 100%;
}

.highlight {
    font-weight: bold;
    border-bottom: 4px solid #ffe1a9;
}

svg {
    height: 80%;
}

.next-button {
    background-color: #771701;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    margin: 3rem 30%;
}

.next-button:hover {
    background-color: #9a1d01;
}

p {
    text-align: center;
    margin: 0;
    color: #511000;
    font-size: 1.3rem;
}
